# pycache
__pycache__/
*.pyc
*.pyo

# folders
src/
sites/
stats/
proteome/
figures/
variants/
app_data/
data/
paper_tables/

# temporary files/folders
.old/
app_data.py
data.py
tables.py
fdata.py
*.log
*.png
*.svg
